<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/redefinir_senha.css">
    <title>Redefinição de Senha</title>
</head>
<body>
    
    <form method="POST">
        <h2>Redefinir Senha</h2>
        <input type="email" name="email" placeholder="Seu Email" required>
        <input type="password" name="nova_senha" placeholder="Nova Senha" required>
        <input type="password" name="confirmar_senha" placeholder="Confirmar Nova Senha" required>
        <button type="submit">Atualizar Senha</button>
    </form>

    <p><a href="/">Voltar para a página inicial</a></p> <!-- Link para a página inicial -->

    {% if mensagem %}
        <p style="color: red;">{{ mensagem }}</p>
    {% endif %}
</body>
</html>